div.Board {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  div.chessboard {
    height: 100%;
    display: flex;
    position: relative;
    z-index: 2;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;

    .row {
      height: 100%;
      width: 100%;
    }
  }
}
