div.Board {
  width: 560px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  div.chessboard {
    display: flex;
    position: absolute;
    z-index: 2;
  }
  img.chessboardimg {
    position: absolute;
    z-index: 1;
    width: 581px;
    height: 581px;
  }
}
