div.Square {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  .Piece img {
    opacity: 1;
    z-index: 2;
    position: absolute;
    width: 34px;
    height: 52px;
  }
}
